@use 'variable' as *;

.detail {
  .detail-img img {
    width: 100%;
  }

  .categories .category {
    background-color: #d3d3d6;
    padding: 2px 7px;
  }

  .address {
    margin-top: 5px;
  }

  .menu {
    justify-content: center;
    h4 {
      display: inline;
      font-size: 1.1rem;
      margin-left: 5px;
    }
  }

  .foods,
  .drinks {
    h5 {
      font-size: 1rem;
      display: inline;
      margin-left: 5px;
    }

    ul {
      margin-left: 20%;
    }
  }

  .hide {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .read-more {
    font-size: 0.9rem;
    font-weight: 600;
    height: 44px;
    margin-top: -40px;
    background-color: transparent;
    border: none;
    color: $primary-color;
  }
}
