@use 'navbar';
@use 'hero';
@use 'catalog-restaurant';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 90%;
    margin: auto;
}

footer {
    margin-top: 30px;
    height: 40px;
    text-align: center;
}